<!-- TITLE -->
<h1>Star Wars - People</h1>

<!-- MAIN CONTENT :: TABLE -->
<table border="1">
  <tbody>
    <tr> 
      <!-- TABLE :: HEADERS -->
      <th *ngFor="let header of tableHeader">{{header.value}}</th>
    </tr>

    <!-- TABLE ROWS :: CHARACTER DATA -->
    <tr *ngFor="let character of characters; index as i;">
      <td><button class="primary-btn" (click)="viewDetails(i)" title="Click to view more details">View more details</button></td>
      <td>{{i}}</td>
      <td>{{character.name}}</td>
      <td>{{character.gender}}</td>
      <td>{{character.films.length}}</td>
    </tr>
  </tbody>
</table>

<!-- CHARACTER EXTENDED DETAILS POP UP -->
<app-character-preview 
  *ngIf="modalService.showModal" 
  [character]="currentCharacter"
></app-character-preview>