@import "./../../shared-styles/buttons.scss";

table {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    text-align: left;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}

tr:nth-child(even) {
    background-color: $light-gray;
}

td,
th {
    min-width: 50px;
    padding-left: 10px;
}