// BLACKS, WHITES AND 50 SHADES OF GRAY
$black: #000;
$screen: rgba(0,0,0,.7);
$white: #fff;
$white-smoke: #f5f5f5;
$light-gray: #e4e4e4;
$dark-gray: #353535;

// BLUES
$navy-blue: #040489;
$light-blue: #0095ff;
$focus-blue: #00a1ff;

//YELLOW
$yellow: #ffff1e;